body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

.container {
    display: grid;
    width: 100%;
    height: 100vh;
    grid-template-rows: repeat(12, 1fr);
    grid-template-columns: repeat(12, 1fr);
}

.timer {
    display: grid;
    grid-row: 5/6;
    grid-column: 5/9;
    font-size: 20px;
    border: 1px solid grey;
}

.timer__content {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.timer__pointers {
    text-align: center;
    font-size: 40px;
}

.timer__pointers--minutes {
    position: relative;
    margin-right: 10px;
}

.timer__pointers--minutes::after {
    content:':';
    position: absolute;
    top: -3px;
    right: -15px;
}

.timer__pointers--seconds {
    margin-left: 10px;
}

.button {
    grid-row: 6/7;
    height: 50%;
    background-color: transparent;
    border: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    text-transform: uppercase;
}

.button:hover {
    cursor: pointer;
}

.button--start {
    grid-column: 5/9;
}

.button--pause {
    grid-column: 5/7;
    border-right: 1px solid grey;
    border-bottom: 1px solid grey;
    border-left: 1px solid grey;
}

.button--reset {
    grid-column: 7/9;
    border-bottom: 1px solid grey;
    border-left: 1px solid grey;
    border-right: 1px solid grey;
}

.hidden {
    display: none;
}